body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: white;
}

h1 {
    color: #022F40;
    text-align: center;
}

p {
    color: #024f6c;
    text-align: center;
}

.pdiv {
    color: white;
}

#picture {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

ul {
    color: #024f6c;
    list-style-type: square;
    margin-left: auto;
    margin-right: auto;
}

#listitems {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#div1 {
    font-size: large;
    background-color: #A2A392;
    /* top, right & left, bottom */
    margin: 3px auto 20px;
    height: 200px;
    width: 95%;
    text-align: center;
}

#div1:hover {
    font-weight: bold;
}

#colorchange {
    vertical-align: bottom;
}

.div2 {
    font-size: large;
    background-color: #9A998C;
    /* top, right & left, bottom */
    margin: 0px auto 20px;
    height: 200px;
    width: 95%;
}

.div2:hover {
    font-weight: bold;
}

.div3 {
    font-size: large;
    background-color: #9A998C;
    /* top, right & left, bottom */
    margin: 0px auto 20px;
    height: 200px;
    width: 95%;
}

.div3:hover {
    font-weight: bold;
}

textarea {
    width: 15em;
    height: 1.5em;
}

.clickme {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    background-color: #B5827D;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.thirdDiv {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: large;
    background-color: #B5827D;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

/* for Larger screen */
@media screen and (min-width: 768px) {

    /* Would I change anything for a large screen? */
#div1 {
    font-size: larger;
    height: 200px;
    width: 450px;
}

.div2 {
    font-size: larger;
    height: 200px;
    width: 450px;
}

.div3 {
    font-size: larger;
    height: 200px;
    width: 450px;
}

textarea {
    /* top, right, bottom, left */
    margin: 10px 0px 0px 0px;
}

}