body {
    font-family: Garamond;
}

h1 {
    font-family: Garamond;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

.h1link {
    color: black;
}

.h1link:hover {
    cursor: pointer;
    color: rgb(94, 94, 94);
}

h3 {
    margin: 3px;
    text-align: center;
}

p {
    text-align: center;
}

.justify-content-center {
    margin: 10px 0px 10px;
}

img {
    height: 300px;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

.headerimg {
    height: 75px;
    width: 75px;
}

.picture {
    /* background: url('../images/cass.jpg') no-repeat;
    height: 300px; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.btn-outline-dark {
    font-size: larger;
}

.center {
    display: flex;
    justify-content: center;
    /* top, right & left, bottom */
    margin: 10px;
}

.footercopyright {
    margin-top: 20px;
}

/* for Larger screen */
@media screen and (min-width: 768px) {

    .card {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        text-align: center;
    }

    li {
        text-align: center;
    }

    li:hover {
        font-weight: bold;
        transition-delay: .1s;
    }

    .card-text {
        text-align: left;

    }
}