h4 {
    font-family: Garamond, serif;
    text-align: center;
    color: #022f40;
    margin-top: 10px;
    font-size: medium;
}

p {
    font-family: Garamond, serif;
}

h2 {
    font-family: Garamond, serif;
    color: #022f40;
}
h5 {
    font-family: Garamond, serif;
    color: #022f40;
}

.fieldform {
    text-align: center;
    margin-top: 10px;
}

.confirmationtext {
    text-align: center;
    margin-top: 20px;
    font-size: x-large;
    padding: 10px;
}

.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}

div.title {
    font-family: Garamond, serif;
    font-size: xx-large;
    text-align: center;
    height: 60px;
    background-color: white;
    color: #022f40;
}

/* Styling for the overall table */
table {
    font-family: Garamond, serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

/* Styling for the column headers (days of the week) */
th {
    padding: 0 0.5em;
    text-align: center;
    background-color: #022F40;
    color: white;
    border: 2px double lightgray;
}

/* Styling for the individual cells (days) */
td {
    font-size: medium;
    padding: 0.25em 0.25em;
    width: 14%;
    height: 40px;
    text-align: left;
    vertical-align: top;
    border: 2px double #023c50;
}

/* Styling for the date numbers */
.date {
    font-size: large;
    padding: 0.25em 0.25em;
    text-align: left;
    vertical-align: top;
    color: #022F40;
}

.available {
    background-color: #022F40;
    color: white;
    /* top right bottom left */
    padding: 0px 15px 0px 15px;
    margin: 4px;
}

.reserve {
    display: flex;
    margin: 0px auto 10px;
    background-color: #022F40;
    color: white;
}

.reserve:hover {
    color: #022F40;
    background-color: white;
    border: 2px solid lightgray;
}

.calbutton {
    display: flex;
    margin: 0px auto 10px;
    padding: 3px;
    background-color: #022F40;
    color: white;
    border: 2px solid lightgray;
    text-decoration: none;
    width: 140px;
}

.calbutton:hover {
    color: #022F40;
    background-color: white;
    border: 2px solid lightgray;
}

.finalcheckoutbutton {
    display: flex;
    margin: 0px auto 10px;
    padding: 3px;
    background-color: #022F40;
    color: white;
    border: 2px solid lightgray;
    text-decoration: none;
    width: 170px;
}

.finalcheckoutbutton:hover {
    color: #022F40;
    background-color: white;
    border: 2px solid lightgray;
}

.viewclientinfo {
    font-family: Garamond, serif;
    color: #022f40;
    text-align: center;
    margin: 20px;
    font-size: large;
}

.btn-secondary {
    margin: 10px;
    color: white;
}
a.btn.btn-secondary {
    color: white;
}

.clientDetail {
    border: 2px solid #022f40;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    max-width: 400px;
}

/* for Larger screen */
@media screen and (min-width: 600px) {

    td {
        height: 100px;
    }

    .logo {
        margin-top: 20px;
        height: 100px;
    }

}