body {
    font-family: Garamond;
}

h1 {
    font-family: Garamond;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

h3 {
    margin: 3px;
    text-align: center;
}

/* img {
    max-height: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
} */

.picture {
    background-image: url("../images/cass.jpg");
    max-width: 500px;
    max-height: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.picture:hover {
    background-image: url('../images/family.jpg') ;
}

.center {
    display: flex;
    justify-content: center;
    /* top, right & left, bottom */
    margin: 10px;
}

/* for Larger screen */
@media screen and (min-width: 768px) {

    .card {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        text-align: center;
    }

    li {
        text-align: center;
    }

    li:hover {
        font-weight: bold;
        transition-delay: .1s;
    }

}